<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bill Generator</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
    <style>
        h1 {
            text-align: center;
            margin: 1rem;
        }
        
        .udiv {
            border: double black;
            background-color: lavender;
        }
        
        .dbtn {
            margin-bottom: 1rem;
        }
    </style>
</head>

<body>
    <section>
        <div class="container-fluid udiv">
            <h1>Pawan Jewellers</h1>
            <form class="row g-3" action="/print" method="post">
                <div class="col-md-6 col-sm">
                    <label for="" class="form-label ulab">First Name</label>
                    <input type="text" name="fname" class="form-control" placeholder="First name" value="<%= v1 %>" required>
                </div>
                <div class="col-md-6">
                    <label for="" class="form-label">Last Name</label>
                    <input type="text" name="lname" class="form-control" placeholder="Last Name" value="<%= v2 %>" required>
                </div>
                <div class="col-12">
                    <label for="inputAddress" class="form-label">Address</label>
                    <input type="text" name="address" class="form-control" id="inputAddress" placeholder="A-63 Paschim Vihar" value="<%= v3 %>" required>
                </div>
                <div class="col-md-6">
                    <label for="inputCity" class="form-label">City</label>
                    <input type="text" name="city" class="form-control" id="inputCity" placeholder="New Delhi" value="<%= v4 %>" required>
                </div>
                <div class="col-md-4">
                    <label for="inputState" class="form-label">State</label>
                    <select id="inputState" name="state" class="form-select" value="<%= v5 %>" required>
                        <option selected>Select</option>
                        <option>Delhi</option>
                        <option>Maharashtra</option>
                        <option>Nepal</option>
                    </select>
                </div>
                <div class="col-md-2">
                    <label for="inputZip" class="form-label">Postal Code</label>
                    <input type="text" name="postalcode" class="form-control" placeholder="110063" value="<%= v6 %>" required>
                </div>
                <div class="col-md-2">
                    <label for="inputZip" class="form-label">Amount</label>
                    <input type="text" name="amt" class="form-control" placeholder="Rs 0.00" value="<%= v7 %>" required>
                </div>
                <div class="col-12 dbtn">
                    <input type="submit" value="Print" class="btn btn-primary">
                </div>
                <div class="col-12 dbtn">
                    <input type="reset" value="Clear">
                </div>
            </form>
        </div>
    </section>
</body>

</html>